.petOne {
    background-color: white;
    padding: 1%;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: white;
}

.card .card-action {
    background-color: #009688;
}