body {
  background-image: url("../../assets/img/fondopies.png");
  background-size: cover;
  filter:  alpha(opacity=50);
}

.container {
  display: block;
  box-align: center;
}

img {
  size: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 670px)
{
    opacity: 1;
}